<img src="images/tableau_cmyk_2015.png" width=50%>

# Tableau Fundamentals

Major shoutout to my colleague James for the outline of this session and the bulk of this notebook <3

## Tableau vs Tableau Public

- Tableau Public is the free version of Tableau
- They are VERY similar, but there are important distinctions:
    - Data Access
        - Tableau can access SQL servers
        - Tableau Public cannot
    - Saving Projects:
        - Tableau can save and load projects locally
        - Tableau Public can only save to the cloud

## Today's Data

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/kingcounty.csv")

df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

## Installing Tableau Public

- https://public.tableau.com/en-us/s/

## Tableau Vocabulary

- Dimensions: 
    - Categorical features/independent variables
    - Show up in Blue on Columns/Row view

- Measures: 
    - Numeric features / dependent variables
    - Measures get aggregated (SUM, MEAN, etc)
    - Shows up in Green on Columns/Row View

- Attributes?
    - https://community.tableau.com/s/question/0D54T00000C5Zxk/attribute

## Load in `kingcounty.csv`

- Open Tableau Public and load up our Phase 2 Project data file (`kingcounty.csv`)
    - CSVs are technically "Text Files"   

- Notice that Tableau automatically replaced text values in numeric columns ('?' in sqft)
    - It also cleaned up the column names (`sqft_living` -> "Sqft Living")
  
- Now click "Go to Worksheet" / "Sheet 1" at the bottom of the app.

### Plots to Make:

1. A scatter plot of Sqft Living vs Price + a trendline
2. A scatter plot of Sqft Living vs Price grouped by if it is waterfront property (+ trendlines) 
    - Can also group Null & 0 to make Waterfront vs. Not-Waterfront
3. A histogram of price in in \$100K-bins
4. A map of median prices by zipcode
5. A map of all homes with color-coded price with the smallest markers possible

> Be sure to adjust Map Layers to add details and depth to our maps!
    

**Then save the workbook to Tableau Public and make sure it shows all individual sheets.**

## Additional Practice: `baltimore_crime_ts.csv`

On your own time! Play around with how time series data is different - can you make a time series plot of:
- Shooting, Robbery-Street, Robbery-Carjacking, Homicide

## Resources/References

From Tableau:

- [Tableau Free Training Videos](https://www.tableau.com/learn/training/20212)
- [Tableau Public How-To Videos](https://public.tableau.com/en-us/s/resources)

Other Resources:

- Udemy Course - [Tableau 2020 A-Z: Hands-On Tableau Training for Data Science](https://www.udemy.com/course/tableau10/)
- Coursera Course - [Data Visualization and Communication with Tableau](https://www.coursera.org/learn/analytics-tableau)